@import './platform';

// Essentially all the styles needed to transform a text box
// input element into something that doesn't look horrendous.
// It's a mix in because the styles are shared between inputs
// and select components.
@mixin textboxish {
  border: 1px solid var(--fluent-control-stroke);
  border-radius: var(--control-corner-radius);
  background: var(--fluent-control-fill-default);
  color: var(--text-color);
  font-size: var(--font-size);
  font-family: var(--font-family-sans-serif);
  height: var(--text-field-height);
  min-height: var(--control-height);
  padding: 5px 6px 6px 10px;
  transition: background-color var(--motion-fast) var(--motion-easing), border-color var(--motion-fast) var(--motion-easing), box-shadow var(--motion-fast) var(--motion-easing);

  &:hover:not(:disabled) {
    background: var(--fluent-control-fill-hover);
  }

  &:focus-visible {
    @include textboxish-focus-styles;
  }

  &::-webkit-input-placeholder {
    color: var(--box-placeholder-color);
  }

  &:disabled {
    @include textboxish-disabled-styles;
  }
}

@mixin textboxish-focus-styles {
  outline: none;
  border-color: var(--system-accent-color);
  background: var(--fluent-control-fill-input-active);
  box-shadow: var(--focus-ring);
}

@mixin textboxish-disabled-styles {
  background: var(--fluent-control-fill-disabled);
  color: var(--fluent-text-fill-disabled);
}
