.changes-interstitial {
  padding: var(--spacing-quad);
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  overflow-x: hidden;

  .interstitial-header {
    display: flex;
    flex-direction: row;

    .text {
      flex-grow: 1;
      min-width: 0;
      margin-right: var(--spacing-double);

      h1 {
        padding: 0;
        margin: 0;
        font-size: var(--font-size-xl);
        font-weight: var(--font-weight-light);
      }

      p {
        margin: 0;
      }
    }

    .no-local-changes-illustration {
      flex: 0 0 auto;
      width: 96px;
      height: 72px;
      align-self: flex-end;

      img {
        display: block;
        width: 96px;
        height: 72px;
      }

      .no-local-changes-illustration-dark {
        display: none;
      }
    }

    margin-bottom: var(--spacing-double);
  }

  .content {
    width: 100%;
    max-width: 600px;
    min-width: 0;
    container-type: inline-size;
  }

  .pull-request-action {
    .dropdown-select-button {
      .invoke-button {
        min-width: 150px;
      }
    }
  }

  /** Lessen the padding at 1.5x zoom and above  **/
  @media screen and (max-width: 640px) {
    padding: var(--spacing-double);
  }

  /** Hide the blankslate image at high zoom levels **/
  @media screen and (max-width: 550px) {
    .interstitial-header .no-local-changes-illustration {
      display: none;
    }
  }
}

body.theme-dark .no-local-changes-illustration {
  .no-local-changes-illustration-light {
    display: none;
  }

  .no-local-changes-illustration-dark {
    display: block;
  }
}
