// On Windows we want a subtle change in the appeareance of the
// title bar when the app looses focus.
#desktop-app-chrome.blurred {
  background: var(--fluent-solid-background-base-alt);

  #desktop-app-title-bar {
    background: var(--fluent-solid-background-base-alt);
    color: var(--fluent-text-fill-tertiary);

    // Drop the opacity of the app icon, non-hovered
    // window controls and toolbar buttons (top level menu items)
    .app-icon,
    .window-controls > button:not(:hover),
    .toolbar-dropdown:not(.open) .menu-item .label {
      color: var(--fluent-text-fill-tertiary);
      opacity: 1;
    }
  }
}
