.popup {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  min-width: 260px;
  margin: var(--spacing-triple) var(--spacing);
  background-color: var(--fluent-solid-background-card);
  border: 1px solid var(--fluent-flyout-stroke);
  border-radius: var(--overlay-corner-radius);
  box-shadow: var(--base-box-shadow);
  z-index: var(--popup-z-index);
}

.popup-content {
  padding: var(--spacing-double);
}

// This is used for group lists such as the branch picker
.popup-inner-content {
  border: 1px solid var(--fluent-flyout-stroke);
  border-radius: var(--overlay-corner-radius);
  background: var(--fluent-solid-background-card);
}

.popup-actions {
  margin-top: var(--spacing);
}

.popup-error-output {
  font-family: var(--font-family-monospace);
  font-size: var(--font-size-sm);
  margin: 0;
  white-space: pre-wrap;
}

.popup-overlay {
  z-index: var(--popup-overlay-z-index);

  background: var(--overlay-background-color);
  opacity: 1;
  height: 100%;
}
